@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: flex;
  gap: 3rem; /* Adjust the gap between images as needed */
  animation: marquee 20s linear infinite;
}
