.inputArea{
          margin-bottom: 32px;
}


.inputField{
          width: 100%;
          background: transparent;
          border-bottom: 2px solid rgb(199, 197, 197);
          padding: 10px 0px;
}

.inputBtn{
     width: 100%;
     font-size:16px ;
     font-weight: 700;
     color:white;
     margin-bottom: 130px;

}